h2 {
  clear: both;
  font-size: 22px;
  margin-bottom: 16.5px;
  overflow-wrap: break-word;
  padding-right: 0px;
  padding-top: 24px;
  font-weight: 400;
  line-height: 30.8px;
}

.pb2 {
  margin-bottom: 50px;
}
