.main {
  display: flex;
  justify-content: center;
  min-width: 0;
}

.contentWrapper {
  display: flex;
  max-width: 960px;
  min-width: 0;
}

.content {
  max-width: 680px;
  padding-top: 0;
  margin: 0 15px;
  margin-right: 50px;
  min-width: 300px;
}

.sidebar {
  margin-top: 5px;
}
