.archive-title
  color color-font
  font-weight: 300;
  letter-spacing: 1px;
  padding 16px 24px;

.archive-post
  display: flex
  flex-direction: row
  color color-meta
  font-weight normal
  padding 0 0 24px 0
  margin-bottom -30px
  text-shadow 0 0 1px #fff
  a
    color color-font
    &:hover
      color color-link
      text-decoration none

  &.category
    &:before
      content '\f07b'

.archive
  border-bottom 1px solid color-border
  margin-bottom 50px

  background: #fff;
  -webkit-box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);

  article
    box-shadow none
    background: none
    margin: 0
    .post-content
      margin-bottom 0
      padding 16px 15px

.post-date
  color color-meta
  font 0.8em font-title
  margin-top 5px
  margin-right 25px
  margin-bottom 5px
  margin-left 10px