<% if (site.categories.length){ %>
  <div class="widget tag about">
    <ul class="entry">
      <div>
        <img class="about-photo" src="https://avatars3.githubusercontent.com/u/1634953?v=4&s=460" alt="photo of me"/>
      </div>
      <p class="about-photo-text"> Nick Drane's blog about programming, hacking, software, computer security, and compute science.</p>

    </ul>
  </div>
  <% } %>


