<div class="widget tag about">
  <ul class="entry">
    <div>
      <img class="about-photo" src="/images/about-photo.jpg" alt="photo of Nick Drane" />
    </div>
    <p class="about-photo-text">My name is Nick Drane. I'm a programmer and consultant</p>

  </ul>
</div>