<div class="widget tag recent-posts">
  <h3 class="title">Most Popular Posts</h3>
  <ul class="entry">
    <li>
      <a href="/build-your-own-regex/">Build a Regex Engine in Less than 40 Lines of Code</a>
    </li>
    <li>
      <a href="/scraping-the-web-with-puppeteer-lessons-learned/">Scraping the Web with Puppeteer: Lessons Learned</a>
    </li>
    <li>
      <a href="/write-your-own-redux-connect/">Write Your Own React-Redux Connect</a>
    </li>
    <li>
      <a href="/build-your-own-nested-query-string-encoder/">Build Your Own Nested Query String Encoder/Decoder</a>
    </li>
  </ul>
</div>