<div class="widget tag recent-posts">
  <h3 class="title"><%= __('Recent Posts') %></h3>
  <ul class="entry">
    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <li>
        <a href="<%= config.root %><%= post.path %>"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
</div>